<div class="container h-100" [@slideToBottom]>
    <div class="row justify-content-md-center align-items-center h-100">
      <div class="col-md-4">
        <h1>Login</h1>
        <form (ngSubmit)="onLogin(f)" #f="ngForm">
          <div class="form-group">
            <input type="text" class="form-control" name="username" ngModel placeholder="Username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" ngModel placeholder="Password">
          </div>
          <button class="btn btn-dark btn-lg" type="submit" [disabled]="!canLogin"> Log in</button>
          <div *ngIf="loginMessage" style="color: darkred; font-weight: bold">{{loginMessage}}</div>
        </form>
      </div>
    </div>
</div>
