<h4 class="text-center" style="margin-top: 20px">Order quantity by country</h4>
<div style="height: 70vh; margin-top: 40px">

  <ngx-charts-advanced-pie-chart
    [scheme]="colorScheme"
    [results]="data"
  >
  </ngx-charts-advanced-pie-chart>

  <ngx-charts-bar-vertical
    [barPadding]="1"
    [scheme]="colorScheme"
    [results]="data"
    [legend]="false"
    [roundEdges]="true"
    [roundDomains]="true"
    [showGridLines]="true"
    [xAxis]="true"
    [yAxis]="true"
  >
  </ngx-charts-bar-vertical>
</div>
